<div class="container">
  <div class="card">
    <div class="card-image">
      <img
        class="responsive-img"
        src="https://www.purina-latam.com/sites/default/files/styles/kraken_generic_max_width_960/public/mascotas-en-adopcion-beneficios-y-requisitos-para-adoptar-un-perro-o-gato.png?itok=uNlVvpzj"
        alt="Perritos en adopción"
      />
      <span class="card-title">Adopt Me</span>
    </div>
    <div class="card-content">
      <p>Welcome to the funniest, cutest and awesome Pats adoption app</p>
    </div>
  </div>
</div>